<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <tr>
        <td valign="top" class="bg_white" style="padding: 1em 2.5em 0 2.5em;">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="logo" style="text-align: center;">
                        <h1>
                            <!-- <a href="#">e-Verify</a> -->
                            <img src="https://s3.eu-west-1.amazonaws.com/cdn.spydeals.nl/images/uploads/SsXgRO43z5T8gyRVt7ZIFnVnxWBhFwezrDUYMN4W.png" alt="" style="width: 300px; max-width: 600px; height: auto; margin: auto; display: block;">
                        </h1>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</div>